[user]
  name = Yevgeniy Kuksenko
  email = ykuksenko@gmail.com

[alias]
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  stat = status --short --branch
  s = status --short --branch
  b = branch
  d = diff
  dt = difftool
  dg = difftool --gui
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[core]
  editor = vim
[push]
  default = simple
[merge]
  tool = vimdiff
  guitool = meld
[diff]
  algorithm = patience
  tool = customvim
  guitool = meld
[difftool "customvim"]
  cmd = vim -R -f -d \"$LOCAL\" \"$REMOTE\"
  prompt = true
[pager]
  log = diff-so-fancy | less --tabs=4 -RFX
  show = diff-so-fancy | less --tabs=4 -RFX
  diff = diff-so-fancy | less --tabs=4 -RFX
